@charset "UTF-8";
@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"), url(../fonts/OpenSans-Light.woff2) format("woff2"), url(../fonts/OpenSans-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Regular"), url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Semi-Bold"), url(../fonts/OpenSans-SemiBold.woff2) format("woff2"), url(../fonts/OpenSans-SemiBold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
*,
::after,
::before {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
.page {
    height: 100%;
}
.page__body {
    min-width: 1440px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #545454;
    text-align: left;
    background-color: #fbfbfb;
}
/* ------ Layout страницы  ------ */
.page__container {
    display: grid;
    grid-template-columns: 260px minmax(1000px, 1fr);
    padding-right: 35px;
    padding-left: 35px;
}
.page__container--form {
    grid-template-columns: 1fr 3fr;
}
.page__container-nav {
    grid-template-columns: 1/2;
    width: 280px;
}
.page__container-main {
    grid-column: 2/3;
    padding: 35px 0 226px;
    justify-self: flex-end;
    width: 100%; /* ------ ИЗМЕНЕНИЯ - ДОБАВЛЕНО свойство ширины ------ */

}
.page__container--form .page__container-main {
    justify-self: flex-start;
}
.page__main-title {
    margin-top: 0;
    margin-bottom: 55px;
    padding: 15px 0 0;
    font-size: 48px;
    font-weight: 300;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}
/* ------ Кнопочка голубая ------ */
.btn-blue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 7px 14px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #556de6;
    border: 1px solid #556de6;
    border-radius: 5px;
}
/* ------ Хлебные крошки ------ */
.breadcrumbs {
    grid-column: 1/-1;
}
.breadcrumbs__list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 23px 35px;
    border-bottom: 1px dashed pink;
}
.breadcrumbs__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
.breadcrumbs__item::after {
    position: absolute;
    bottom: 50%;
    right: -20px;
    content: "";
    width: 15px;
    height: 1px;
    background-color: #ababab;
}
.breadcrumbs__item:last-child {
    margin-right: 0;
}
.breadcrumbs__item:last-child::after {
    display: none;
}
.breadcrumbs__link {
    color: inherit;
    padding: 0;
    text-decoration: underline;
}
.breadcrumbs__link--current {
    color: #ababab;
    border-bottom-color: transparent;
}

/*--- Навигация ---*/
.usernav__list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 0 0;
}
.usernav__section:not(:last-child) {
    margin-bottom: 29px;
}
.usernav__section-title {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 600;
}
.usernav__section-list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 10px;
}
.usernav__section-item {
    margin-bottom: 21px;
}
.usernav__item-link {
    display: flex;
    align-items: center;
    line-height: 1;
    color: inherit;
    text-decoration: none;
}
.usernav__item-count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    padding: 0 5px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 16px;
    color: #687980;
    font-size: 10px;
    background-color: #e3ecef;
}

/*---- Квартиры  ----*/

.apartments {
    margin-top: 12px;
    padding: 30px 26px;
    width: 100%;
    color: #666;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}
.apartments__btn-add {
  /* плюс свойства голубой кнопочки выше */
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 30px;
    padding: 8px 15px;
    line-height: 1;
}
.apartments__table {
    width: 100%;
}
.apartments__table-row {
    display: grid;
    grid-template-columns: 270px 1fr;
    align-items: stretch;
    justify-content: center;
    padding: 15px 0;
}
.apartments__table-row:first-child {
    padding: 7px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #b1b1b1;
    border-bottom: 1px solid #c4c4c4;
}
.apartments__table-row:nth-child(2n + 3) {
    background-color: #fcfcfc;
}
.apartments__table-row:last-child {
    display: flex;
    padding: 0;
    color: #b1b1b1;
    background-color: #fff;
}
.apartments__table-cell {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 23px;
    min-height: 60px;
    border-right: 1px solid #efefef;
}
.apartments__table-cell:first-child {
    padding: 0 0 0 15px;
}
.apartments__table-cell:last-child {
    border-right: none;
}
.apartments__table-row:first-child .apartments__table-cell {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 21px;
}
.apartments__table-row:last-child .apartments__table-cell {
    min-height: 21px;
    padding: 23px 0 0;
    border-right: none;
}
.apartments__table-row:last-child .apartments__table-cell:first-child {
    margin-right: auto;
}
.apartments__table-link {
    color: #556de6;
}
.apartments__table-link:focus,
.apartments__table-link:hover {
    color: rgba(85, 109, 230, 0.7);
}
.apartments__table-link:active {
    color: rgba(85, 109, 230, 0.5);
}
.apartments__select-number {
    margin: 0 5px;
    padding: 3px 8px;
    color: inherit;
    font: inherit;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
}
.apartments__items-number {
    margin-left: 5px;
    margin-right: 5px;
}
.apartments__items-number--selected {
    margin-left: 30px;
}

