
/*
.page__body {
  min-width: 1440px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #545454;
  text-align: left;
  background-color: #fbfbfb;
}
*/

.apartments {
  margin-top: 12px;
  padding: 30px 26px;
  width: 100%;
  color: #666;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
};

/*
.btn-blue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 7px 14px;
  font-size: 12px;
  color: $white;
  text-align: center;
  text-decoration: none;
  background-color: #556de6;
  border: 1px solid #556de6;
  border-radius: 5px;
}
*/

.apartments__btn-add {
  width: max-content;
  margin-bottom: 30px;
  padding: 8px 15px;
  line-height: 1;
};

.apartments__table {
  width: 100%;
};

.apartments__table-row {
  display: grid;
  grid-template-columns: 270px 1fr;
  align-items: stretch;
  justify-content: center;
  padding: 15px 0;

  &:first-child {
    padding: 7px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #b1b1b1;
    border-bottom: 1px solid #c4c4c4;
  }

  &:nth-child(2n+3) {
    background-color: #fcfcfc;
  }

  &:last-child {
    display: flex;
    padding: 0;
    color: #b1b1b1;
    background-color: #fff;
  }
};

.apartments__table-cell {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 23px;
  min-height: 60px;
  border-right: 1px solid #efefef;

  &:first-child {
    padding: 0 0 0 15px;
  }

  &:last-child {
    border-right: none;
  }

  .apartments__table-row:first-child & {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 21px;
  }

  .apartments__table-row:last-child & {
    min-height: 21px;
    padding: 23px 0 0;
    border-right: none;

    &:first-child {
      margin-right: auto;
    }
  }
};

.apartments__table-link {
  color: #556de6;

  &:hover,
  &:focus {
    /* навскидку на 30% светлее */
    color: rgba(#556de6, 0.7);
  }

  &:active {
    /* навскидку на 50% светлее */
    color: rgba(#556de6, 0.5);
  }
}

.apartments__select-number {
  margin: 0 5px;
  padding: 3px 8px;
  color: inherit;
  font: inherit;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

.apartments__items-number {
  margin-left: 5px;
  margin-right: 5px;

  &--selected {
    margin-left: 30px;
  }
}
