.breadcrumbs {
  grid-column: 1 / -1;
}

.breadcrumbs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 23px 35px;
  border-bottom: 1px dashed pink;
}

.breadcrumbs__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.breadcrumbs__item::after {
  position: absolute;
  bottom: 50%;
  right: -20px;
  content: "";
  width: 15px;
  height: 1px;
  background-color: #ababab;
}
.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  text-decoration: none;
  color: inherit;
  padding: 0;
  text-decoration: underline;
}

.breadcrumbs__link--current {
  color: #ababab;
  border-bottom-color: transparent;
}
