.breadcrumbs {
  grid-column: 1 / -1;
}

.breadcrumbs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 23px;
  padding-bottom: 23px; // если задать общему контейнеру то этот можно убратьs
  border-bottom: 1px dashed pink;
}

.breadcrumbs__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  //max-width: 350px; для переполнения

  &::after {
    position: absolute;
    bottom: 50%;
    right: -20px;
    content: "";
    width: 15px;
    height: 1px;
    background-color: $text-extra-light;
  }

  &:last-child {
    margin-right: 0;
  }

  &:last-child::after {
    display: none;
  }
}

.breadcrumbs__link {
  text-decoration: none;
  color: inherit;
  padding: 0;
  text-decoration: underline;

  &--current {
    color: $text-extra-light;
    border-bottom-color: transparent;
  }
}
