/*--- Голубая кнопочка ---*/
.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 7px 14px;
  font-size: 12px;
  font-family: $font-family;
  line-height: 1;
  color: $white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &--blue {
    background-color: $accent-blue;
    border: 1px solid $accent-blue;
  }
}
