.chat-contacts-list-btn {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px;
  background: url("../../img/icons/edit.svg") center 15px no-repeat ;
  opacity: 0;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: .5;
  }
}
