.chatbox-message {
  display: block;
  margin: 0 0 20px 0;
  padding: 20px 28px;
  width: fit-content;
  max-width: 65%;
  overflow-wrap: break-word;
  @include block-outline;

  &--current-user {
    align-self: flex-end;
    background-color: #def0fd;
    border-color: #cad7e0;
  }

  &--other-user {
    align-self: flex-start;
  }

  &:first-child {
    margin-top: auto;
  }

  &:last-child {
    margin-bottom: 0;
  }

  // @media (max-width: $tablet-wide) {
  //   max-width: 75%;
  // }
  
  @media (max-width: $tablet) {
    max-width: 85%;
  }

  .chat-popup & {
    padding: 15px 20px;
    max-width: 95%;
  }
}

.chatbox-message__user-name {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-size: $font-large;
  font-weight: $font-weight-semibold;
  color: $black;

  .chatbox-message--current-user & {
    display: none;
  }

  .chat-popup & {
    font-size: $font-regular;
  }
}

.chatbox-message__user-role {
  position: relative;
  bottom: 2px;
  margin-left: $font-tiny;
  padding: 2px 8px;
  font-size: $font-tiny;
  font-weight: $font-weight-regular;
  color: $black;
  border-radius: 4px;

  &--designer {
    background-color: $accent-yellow;
  }

  &--service-manager {
    background-color: $accent-blue;
    color: $white;
  }
}

.chatbox-message__text {
  margin: 0;
  padding: 0;
  color: $text-chatbox-messages;
}
