/*-------*/
.chat-search-form {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chat-search-form__input {
  @include block-outline;
  margin: 0;
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  background-color: $white;
  border-radius: 5px;
  border: none;

  &::placeholder {
    font-size: inherit;
    color: $text-form-placeholder;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 7px $box-shadow;
  }
}

.chat-search-form__btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: flex;
  @include round(30px);
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $bg-hover;
    box-shadow: 0 0 7px $box-shadow;
  }

  &:active {
    background-color: $bg-focus;

    .chat-search-form__icon {
      fill: $white;
    }
  }
}

.chat-search-form__icon {
  width: 25px;
  height: 25px;
  fill: $text-light;
}
