.chat-popup-list {
  @include clear-list;
  overflow-y: scroll;
}

.chat-popup-list__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.chat-popup-list__link {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 20px 20px;
  color: inherit;
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    background-color: $bg-hover;
  }

  &:focus {
    background-color: $bg-focus;
  }

  &--active {
    background-color: $bg-focus;
  }
}

.chat-popup-list__name {
  font-weight: 600;
  overflow: hidden;
  color: $black;
  height: 30px; // чтобы только в 1 строку
  //.chat-popup-list--active & {}
}

.chat-popup-list__excerp {
  font-weight: 300;
  overflow: hidden;
  color: $text-chatlist-excerp;
  height: 30px; // чтобы только в 1 строку
}
