.chatbox {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 100%;
  max-height: $chat-height;
  max-width: 912px;
  padding: 40px 20px 40px 20px;
  background-color: $white;
  @include block-outline;

  &:focus-within {
    box-shadow: 0 0 15px rgba($accent-blue, 0.3);

    .chat-popup & {
      box-shadow: none;
    }
  }

  &--empty {
    grid-template-rows: none;
    justify-content: center;
    align-self: center;
    justify-self: center;
    align-items: center;
    height: 100%;
    
    p {
      text-align: center;
    }
  }
}
/*--- ШАПКА ЧАТА ---*/
.chatbox__header {
  display: flex;
  //flex-direction: column;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color;
}
/*--- НАЗВАНИЕ ЧАТА ---*/
.chatbox__header-caption {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.2;
  color: $text-chatbox-header;
}

.chatbox__header-caption-bold {
  color: #252734;
}
/*--- УЧАСТНИКИ ЧАТА  ---*/
.chatbox__header-users {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #a8a8a8;
}

.chatbox__header-user-current{
  color: $text-chatbox-header;
}

.chatbox__header-user-others{
  color: $accent-blue;
}

/*--- ОКНО ЧАТА ---*/
.chatbox__main {
  @include clear-list;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: -10px;
  padding: 30px 25px 20px 0;
  max-height: $chat-height;
  overflow-y: auto;
}

/*--- КОНТЕЙНЕР ДЛЯ ОКНА НОВОГО СООБЩЕНИЯ ---*/
.chatbox__footer {
  margin-top: 27px;
  border-top: 1px solid $border-color;
}
