.chat-section {
  display: flex;
  position: relative;
}

.chat-section__contacts-list {
  display: flex;
  flex-direction: column;
  padding: 20px 7px 5px;
  margin-right: 15px;
  max-height: $chat-height;
  width: 40%;
  min-width: 280px;
  background-color: $bg-main;

  @media (max-width: $desktop) {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    border-radius: 10px;
    box-shadow: 3px 0 10px $box-shadow;

    &--shown {
      display: flex;
      z-index: 2;
      transform: translateX(-100%, 0);
      transition: transform 0.3 ease-in;
    }
  }
}

.chat-section__chatbox {
  display: flex;
  flex-direction: column;

  &--hidden {
    display: none;
  }
}

.chat-section__open-chat-btn {
  @include chat-go-back-btn;
}