.chatbox-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-top: 20px;

  .chat-popup & {
    padding: 0;
  }
}

.chatbox-input__input {
  display: block;
  margin-right: 10px;
  padding: 14px 30px;
  width: 100%;
  font-size: 16px;
  color: $text-chatbox-messages;
  border-radius: 3px;
  border: 1px solid #c4c4c4;

  &::placeholder {
    font-family: "Open Sans";
    font-size: 16px;
  }

  .chat-popup & {
    margin-right: 0;
    border-radius: 5px;
  }
}

.chatbox-input__send-btn {
  margin-left: 28px;
  padding: 8px 16px;
  background-position: center;
  background-size: 75% auto;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    opacity: .6;
  }

  &:active {
    opacity: .4;
  }

  .chat-popup & {
    margin-left: 15px;
    width: auto;
    height: 38px;
    background-image: url("../../img/icons/btn-send.svg");

    span {
      @include visually-hidden;
    }
  }
}
/*
.chatbox-input__send-icon {
  width: 30px;
  height: 30px;
  fill: $white;
}
*/
