/*---- список чатов ----*/
.chat-contacts-list {
  position: relative;
  @include clear-list;
  overflow-y: auto;
  border-radius: 5px;

  &--edit {
    box-shadow: 0 0 10px rgba($black, 0.3);
  }
}

.chat-contacts-list__item {
  margin-bottom: 10px;
  display: flex;
  border: 1px solid transparent;
  border-radius: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background-color: $bg-hover;
  }

  .chat-contacts-list--edit &:hover,
  .chat-contacts-list--edit &:focus {
    border-color: $accent-pink;
  }
}

.chat-contacts-list__btn {
  flex: 1 0 40px;
  display: none;

  .chat-contacts-list--edit & {
    display: block;
  }

  .chat-contacts-list__item:hover & {
    background-color: $bg-hover;
  }

  .chat-contacts-list__item:focus-within & {
    background-color: $bg-focus;
  }
}

/* ---- Ссылка на отдельный чат ---- */
.chat-contacts-list__link {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 5px 20px 20px;
  color: inherit;
  text-decoration: none;
  //overflow: hidden;
  border-radius: 5px;

  &:focus {
    background-color: $bg-focus;
  }

  &--active {
    background-color: $bg-focus;
  }
}

.chat-contacts-list__name {
  font-weight: 600;
  overflow: hidden;
  color: $black;
  height: 30px; // чтобы только в 1 строку
  //.chat-contacts-list--active & {}
}

.chat-contacts-list__excerp {
  font-weight: 300;
  overflow: hidden;
  color: $text-chatlist-excerp;
  height: 30px; // чтобы только в 1 строку
}
