.chatbox-empty {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-self: center;
  height: 100%;
  max-width: 912px;
  padding: 20px;

  &--shown {
    display: flex;
  }
}

.chatbox-empty__container {
  display: flex;
  padding: 60px 80px;  
  justify-content: center;
  align-items: center;
  background-color: $white;
  @include block-outline;
}

.chatbox-empty__text {
  background-color: $white;
}

.chatbox-empty__link {
  color: $accent-blue;
}

.chatbox-empty__btn {
  @include chat-go-back-btn;
}
