.chat-popup-message {
  display: block;
  margin-bottom: 10px;
  padding: 10px 15px;
  width: fit-content;
  max-width: 80%;
  overflow-wrap: break-word;
  @include block-outline;

  &--current-user {
    align-self: flex-end;
    background-color: $bg-message-blue;
    border-color: $border-message-blue;
  }

  &--other-user {
    align-self: flex-start;
  }

  &:first-child {
    margin-top: auto;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.chat-popup-message__user-name {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  color: $black;

  .chatbox-message--current-user & {
    display: none;
  }
}

.chat-popup-message__user-role {
  position: relative;
  bottom: 2px;
  margin-left: 8px;
  padding: 2px 8px;
  font-size: 8px;
  font-weight: 400;
  color: $black;
  border-radius: 4px;

  &--designer {
    background-color: $accent-yellow;
  }

  &--service-manager {
    background-color: $accent-blue;
    color: $white;
  }
}

.chat-popup-message__text {
  margin: 0;
  padding: 0;
  color: $text-chatbox-messages;
}
