.checkerboard-section {
  display: inline-block;
  margin-right: 30px;
  width: max-content;
  padding: 0 20px 20px;
  border-radius: 5px;
  background-color: $checkerboard-item-color-bg;
}

.checkerboard-section__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 24px 20px 20px;
  padding-left: 55px;
  font-size: $font-regular;
  font-weight: 400;
  color: $checkerboard-item-color-accent;
  text-align: center;
  text-transform: uppercase;
  height: $checkerboard-caption-height;
}

.checkerboard-section__heading-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 20px;
  height: 30px;
  border: none;
  background-color: transparent;

  &--copy {
    margin-left: 20px;

    svg {
      width: 13px;
      height: 15px;
      fill: none;
      stroke: $checkerboard-item-color-accent;
    }
  }

  &--delete {
    svg {
      width: 13px;
      height: 15px;
      fill: $checkerboard-item-color-delete;
    }
  }
}

.checkerboard-section__board {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.checkerboard-section__rows-list {
  margin-bottom: $checkerboard-item-gap;
  width: max-content;
}

.checkerboard-section__row {
  list-style: none;
  margin: 0;
  padding: 0;
  //width: max-content;

  &:last-child {
    margin-bottom: 0;
  }
}

.checkerboard-section__item {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
  margin-right: $checkerboard-item-gap;
}

.checkerboard-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: $checkerboard-item-width;
  height: $checkerboard-item-height;
  line-height: 1;
  color: $white;
  text-decoration: none;
  background-color: $checkerboard-item-color-filled;
  border: 2px solid $checkerboard-item-color-filled;
  border-radius: 5px;

  .checkerboard-section__item:last-child & {
    background-color: $checkerboard-item-color-bg;
    background: url("../../img/icons/plus.svg") center/12px 12px no-repeat;
    border-style: dashed;
    border-color: $checkerboard-item-color-empty;
    color: $checkerboard-item-color-empty;

    &:hover,
    &:focus {
      opacity: .7;
    }

    &:active {
      opacity: .5;
    }
  }
}
