/*---- variables -----*/
$checkerboard-caption-height: 68px;
$checkerboard-item-width: 50px;
$checkerboard-item-height: 34px;
$checkerboard-item-gap: 10px;
$checkerboard-scroll-padding: 5px;
$checkerboard-item-color-bg: #f6f6f6;
$checkerboard-item-color-title: #b1b1b1;
$checkerboard-item-color-filled: #669934;
$checkerboard-item-color-empty: #c9c9c9;//#b5b5b5;
$checkerboard-item-color-delete: $accent-red;
$checkerboard-item-color-accent: $accent-blue;

.checkerboard {
  display: block;
}

.checkerboard__title {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 40px;
  font-size: 24px;
  color: $checkerboard-item-color-title;
}

.checkerboard__help {
  margin-bottom: 30px;
}

.checkerboard__boards {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 20px;
}

.checkerboard__floors {
  padding-top: $checkerboard-caption-height;
  padding-bottom: $checkerboard-scroll-padding * 2;
}

.checkerboard__floors-list {
  @include clear-list;
  color: $checkerboard-item-color-title;
}

.checkerboard__floor {
  display: flex;
  align-items: center;
  height: $checkerboard-item-height;
  margin-bottom: $checkerboard-item-gap;

  &:last-child {
    margin-bottom: 0;
  }
}

.checkerboard__floor-number {
  margin-right: 4px;
}

.checkerboard__board-sections {
  display: flex;
  margin-bottom: $checkerboard-scroll-padding;
  padding-bottom: $checkerboard-scroll-padding;
  overflow-x: auto;
}

.checkerboard__btn-wrap {
  grid-column: 1 / -1;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.checkerboard__btn-save {
  padding: 7px 14px;
  margin-right: 20px;
  min-width: 155px;
  max-width: 300px;
  font-size: 12px;
}

.checkerboard__btn-reset {
  @include btn-reset;
  min-width: 92px;
  max-width: 300px;
  font-size: 12px;
}
