/*---- variables -----*/
$checkerboard-caption-height: 68px;
$checkerboard-item-width: 50px;
$checkerboard-item-height: 34px;
$checkerboard-item-gap: 10px;
$checkerboard-scroll-padding: 5px;
$checkerboard-item-color-bg: #f6f6f6;
$checkerboard-item-color-title: #b1b1b1;
$checkerboard-item-color-filled: #669934;
$checkerboard-item-color-empty: #c9c9c9;//#b5b5b5;
$checkerboard-item-color-delete: $accent-red;
$checkerboard-item-color-accent: $accent-blue;

// @mixin checkerboard-row {
//   grid-template-rows: ;
// }

.checkerboard {
  display: block;
}

.checkerboard__title {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 40px;
  font-size: 24px;
  color: $checkerboard-item-color-title;
}

.checkerboard__help {
  margin-bottom: 30px;
}

.checkerboard__boards {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 20px;
}

.checkerboard__floors {
  padding-top: $checkerboard-caption-height;
  padding-bottom: $checkerboard-scroll-padding * 2;
}

.checkerboard__floors-list {
  @include clear-list;
  color: $checkerboard-item-color-title;
}

.checkerboard__floor {
  display: flex;
  align-items: center;
  height: $checkerboard-item-height;
  margin-bottom: $checkerboard-item-gap;

  &:last-child {
    margin-bottom: 0;
  }
}

.checkerboard__floor-number {
  margin-right: 4px;
}

.checkerboard__board-sections {
  display: flex;
  margin-bottom: $checkerboard-scroll-padding;
  padding-bottom: $checkerboard-scroll-padding;
  overflow-x: auto;
}

.checkerboard__btn-wrap {
  grid-column: 1 / -1;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.checkerboard__btn-save {
  padding: 7px 14px;
  margin-right: 20px;
  min-width: 155px;
  max-width: 300px;
  font-size: 12px;
}

.checkerboard__btn-reset {
  @include btn-reset;
  min-width: 92px;
  max-width: 300px;
  font-size: 12px;
}

/* --- может отдельный блок --- */
.checkerboard-section {
  display: inline-block;
  margin-right: 30px;
  width: max-content;
  padding: 0 20px 20px;
  border-radius: 5px;
  background-color: $checkerboard-item-color-bg;
}

.checkerboard-section__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 24px 20px 20px;
  padding-left: 55px;
  font-size: $font-regular;
  font-weight: 400;
  color: $checkerboard-item-color-accent;
  text-align: center;
  text-transform: uppercase;
  height: $checkerboard-caption-height;
}

.checkerboard-section__heading-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 20px;
  height: 30px;
  border: none;
  background-color: transparent;

  &--copy {
    margin-left: 20px;

    svg {
      width: 13px;
      height: 15px;
      fill: none;
      stroke: $checkerboard-item-color-accent;
    }
  }

  &--delete {
    svg {
      width: 13px;
      height: 15px;
      fill: $checkerboard-item-color-delete;
    }
  }
}

.checkerboard-section__board {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.checkerboard-section__rows-list {
  margin-bottom: $checkerboard-item-gap;
  width: max-content;
}

.checkerboard-section__row {
  list-style: none;
  margin: 0;
  padding: 0;
  //width: max-content;

  &:last-child {
    margin-bottom: 0;
  }
}

.checkerboard-section__item {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
  margin-right: $checkerboard-item-gap;
}

.checkerboard-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: $checkerboard-item-width;
  height: $checkerboard-item-height;
  line-height: 1;
  color: $white;
  text-decoration: none;
  background-color: $checkerboard-item-color-filled;
  border: 2px solid $checkerboard-item-color-filled;
  border-radius: 5px;

  .checkerboard-section__item:last-child & {
    background-color: $checkerboard-item-color-bg;
    background: url("../../img/icons/plus.svg") center/12px 12px no-repeat;
    border-style: dashed;
    border-color: $checkerboard-item-color-empty;
    color: $checkerboard-item-color-empty;

    &:hover,
    &:focus {
      opacity: .7;
    }

    &:active {
      opacity: .5;
    }
  }
}
