.contracts {
  padding: 30px 40px 40px 40px;
  color: $black;
  border: 1px solid $border-color;
  border-radius: 10px;
}

.contracts__title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 21px;
}


