.container {
  margin: 0 auto;
<<<<<<< HEAD
  padding: 0 30px;
  width: 320px;

  @media (min-width: $tablet) {
    padding: 0 50px;
    width: 768px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    width: 1050px;
  }
=======
  padding: 0 15px;
  max-width: 1200px;
  //@media (max-width: $tablet) {width: 767px;}
>>>>>>> 726e9947a39b8bbe9f125ef2d7aa3c37f0153500
}
