.documents {
  margin-bottom: 105px;
  padding: 30px 40px 40px 40px;
  color: $black;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
}

.documents__title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 21px;
}

.documents__wrap {
  display: grid;
  grid-template-columns: 250px 1fr minmax(180px,375px);
}

.documents__wrap--bottom-bordered {
  padding-bottom: 23px;
  margin-bottom: 38px;
  border-bottom: 1px solid $border-color;
}

.documents__inner-wrap {
  grid-column: 1 / 3;
  display: flex;
  flex-wrap: wrap;
  margin-right: 65px;
}

.documents__list {
  margin-right: 55px;
}

//.documents__download {}

.documents__templates {
  padding-left: 60px;
  border-left: 1px solid $border-color;
}

.documents__name {
  position: relative;
  margin: 0;
  margin-bottom: 4px;
}

.documents__name--checked,
.documents__name--to-sign {
  padding-left: 25px;
}

.documents__name--checked::before,
.documents__name--to-sign::before {
  position: absolute;
  display: flex;
  content: "";
  top: 50%;
  left: 5px;
  width: 15px;
  height: 15px;
  background: url("../../img/icons/tick.svg") center no-repeat;
  transform: translateY(-50%);
}

.documents__name--to-sign::before {
  background-image: url("../../img/icons/round-tick.svg");
}

.documents__name-status {
  position: relative;
  padding-left: 20px;
}

.documents__name-status::before {
  position: absolute;
  bottom: 40%;
  left: 0;
  content: "";
  width: 15px;
  height: 1px;
  background-color: #a3a3a3;
}

.documents__name-status--uploaded {
  color: #a3a3a3;
}

.documents__name-status--download {
  color: #556de6;
  text-decoration: underline;
}

.documents__name-status--delete {
  color: #ff0000;
  text-decoration: underline;
}

.documents__name-status--delete::before {
  display: none;
}

.documents__name-time {
  color: #a3a3a3;
}

.documents__name-download {
  display: block;
  margin-bottom: 5px;
}

.documents__list-heading {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #a3a3a3;
}

/*  Раздел загрузки документов  */
.documents__upload {
  display: grid;
  grid-template-areas:
    "label1 label2 . ."
    "input btn-choose btn-upload .";
  grid-template-columns: auto auto auto 1fr;
  row-gap: 3px;
  column-gap: 13px;
  align-items: center;
}

.documents__upload-label,
.documents__upload-div {
  padding-left: 5px;
  font-size: 14px;
  color: #818181;
}

.documents__upload-label {
  grid-area: label1;
}

.documents__upload-div {
  grid-area: label2;
}

.documents__upload-input {
  grid-area: input;
  display: block;
  padding: 10px 20px;
  width: 325px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;

  &::placeholder {
    color: #9f9f9f;
  }
}

.documents__upload-choose {
  grid-area: btn-choose;
  padding: 6px 20px;
  min-width: 140px;
  color: #9f9f9f;
  border: none;
  /* почему в макете сложный градиент вместо простого цвета - хз*/
  background: linear-gradient(180deg, #ebebeb 0%, rgba(239, 239, 239, 0.838542) 20%, rgba(193, 193, 193, 0) 121.05%);
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.documents__upload-btn {
  grid-area: btn-upload;
}

/* Договоры */

.documents__list-signed {
  flex: 3 2 auto;
  padding-left: 45px;
  border-left: 1px solid #d8d8d8;
}

.documents__upload-contract {
  flex: 0 1 375px;
  padding-left: 35px;
  padding-bottom: 25px;
  border-left: 1px solid #d8d8d8;
}

.documents__download-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 20px 100px;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  color: #a2a2a2;
  border: 3px dashed #dbdbdb;
  border-radius: 5px;
}
