.floor-plan {
  margin-top: 12px;
  padding: 30px 40px 30px 26px;
  width: 100%;
  color: #666;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
};

.floor-plan__btn-add {
  width: max-content;
  margin-bottom: 30px;
  padding: 10px 35px;
  font-size: 16px;
};

.floor-plan__table {
  width: 100%;
};

.floor-plan__table-row {
  display: grid;
  grid-template-columns: 133px 280px 280px 140px 130px max-content 110px;
  align-items: stretch;
  padding: 15px 0;

  &:first-child {
    padding: 7px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #b1b1b1;
    border-bottom: 1px solid #c4c4c4;
  }

  &:nth-child(2n+3) {
    background-color: #fcfcfc;
  }

  &:last-child {
    display: flex;
    padding: 0;
    color: #b1b1b1;
    background-color: #fff;
  }
};

.floor-plan__table-cell {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 23px;
  min-height: 60px;
  border-right: 1px solid #efefef;

  &:first-child {
    padding: 0 0 0 15px;
  }

  &:last-child {
    padding: 27px 20px 20px;
    border-right: none;
  }

  .floor-plan__table-row:first-child & {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 21px;
  }

  .floor-plan__table-row:last-child & {
    min-height: 21px;
    padding: 23px 0 0;
    border-right: none;

    &:first-child {
      margin-right: auto;
    }
  }
};

.floor-plan__img-preview-link {
  display: block;
  text-decoration: none;
  color: inherit;
  background-color: #d8d8d8;
  border-radius: 3px;
};

.floor-plan__img-preview {
  display: block;
  width: 69px;
  height: 77px;
}

.floor-plan__table-link {
  color: #556de6;

  &:hover,
  &:focus {
    /* навскидку на 30% светлее */
    color: rgba(#556de6, 0.7);
  }

  &:active {
    /* навскидку на 50% светлее */
    color: rgba(#556de6, 0.5);
  }
}

.floor-plan__table-icon {
  fill: #d7d7d7;
  height: 18px;

  &:hover,
  &:focus {
    fill: #666;
  }

  &--eye {
    width: 22px;
  }

  &--trash {
    width: 17px;
    margin-left: 25px;
  }
}

.floor-plan__select-number {
  margin: 0 5px;
  padding: 3px 8px;
  color: inherit;
  font: inherit;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

.floor-plan__items-number {
  margin-left: 5px;
  margin-right: 5px;

  &--selected {
    margin-left: 30px;
  }
}
