.page {
  height: 100%;
}

.page__body {
  //min-width: 320px;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: $font-size;
  line-height: 1;
  font-weight: 400;
  color: $text-grey;
  text-align: left;
  background-color: $white;
}

.page__main {
  
}
