.residence-add {
  position: relative;
  display: flex;
  align-items: flex-start;
  // flex-direction: column;
  // background: url("../../img/backgroud/residence.svg") 100% 100% / 610px 698px no-repeat;
  // или как вариант попробовать вот так
  height: 100%;
  background: url("../../img/backgroud/residence.svg") 100% 100% / 50% auto no-repeat;
}

.residence-add__help {
  max-width: 441px;
  flex: 1 3 440px;
  margin-left: 30px;
  padding: 14px 40px 24px 105px;
  background: $residence-help-bg url("../../img/icons/help.svg") 30px 30px / 50px 50px no-repeat;
}

.residence-add__container {
  flex: 1 1 912px;
}

.residence-add__progress {
  list-style: none;
  margin: 0;
  padding: 0 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.residence-add__progress-item {
  position: relative;
  min-width: 180px;
  flex: 1 1 180px;
  margin-right: 2px;
  color: $residence-progress-item;
  font-size: $font-small;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    bottom: -15px;
    left: 0;
    right: 0;
    background-color: $residence-progress-item-bg;
  }

  &:first-child::after {
    border-top-left-radius: 5px;
  }

  &:last-child {
    margin-right: 0;

    &::after {
      border-top-right-radius: 5px;
    }
  }

  &--filled {
    color: $accent-green-residence;

    &::after {
      background-color: $accent-green-residence;
    }
  }
}

/*----  ----*/
.residence-add__select-residence {
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translateX(-50%);
  padding: 5px 15px;
  min-width: 405px;
  font-family: $font-family;
  font-size: $font-medium;
  color: $text-form-placeholder;
  background-color: $white;
  @include residence-input-outline;
}
