/*--------- Форма --------*/
//.residence-form-flatplan {}
.residence-form-flatplan__fieldset {
  margin: 0;
  padding: 30px 36px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
  border: none;

  &:nth-child(2n) {
    background-color: $residence-fieldset-bg;
  }
  // &:first-child {
  //   padding-top: 40px;
  //   grid-template-columns: 1.8fr 1fr 1fr;
  //   column-gap: 30px;
  // }
  //   &--no-columns {
//     display: block;
//     padding-top: 0;
//   }

//   &:last-child {
//     padding-top: 0;
//   }
}

.residence-form-flatplan__active-check {
  margin-bottom: 20px;
}

.residence-form-flatplan__label-wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 30px;
}

.residence-form-flatplan__label {
  @include residence-form-label;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  &--upload-area {
    display: grid;
    grid-template-rows: min-content 1fr;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .residence-form-flatplan__label-wrap & {
    grid-column: span 3;
  }

  .residence-form-flatplan__label-wrap &:nth-child(5n + 3),
  .residence-form-flatplan__label-wrap &:nth-child(5n + 4),
  .residence-form-flatplan__label-wrap &:nth-child(5n + 5) {
    grid-column: span 2;
  }
}

.residence-form-flatplan__label-text {
  display: block;
  margin-bottom: 5px;
  padding-left: 5px;
}

.residence-form-flatplan__required {
  color: $accent-red;
}

.residence-form-flatplan__input {
  @include residence-form-input;
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;

  &::placeholder {
    font-family: $font-family;
    color: $residence-placeholder;
  }
}

.residence-form-flatplan__select {
  @include residence-form-input;
  padding: 8px 0;
  height: 38px;
  background-color: $white;

  &--visible {
    height: auto;
  }

  option {
    display: block;
    padding: 5px 10px;
    font-family: $font-family;
    color: $text-form-placeholder;

    &:checked {
      background-color: $bg-hover;
    }
  }
}

// .residence-form-building__select-advantage {
//   @include residence-form-input;

//   option {
//     padding: 5px 10px;
//     font-family: $font-family;
//     font-size: 14px;
//     color: $text-form-placeholder;

//     &:selected {
//       background-color: $bg-hover;
//     } // не применяется из-за дефолтных стилей select
//   }
// }

.residence-form-flatplan__btn-save {
  justify-self: flex-start;
  //padding: 8px 14px;
  min-width: 190px;
  font-size: $font-small;
}

.residence-form-flatplan__btn-reset {
  @include btn-reset;
  font-size: $font-small;
}
