.residence-tooltip {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background: #ddd url("../../img/icons/tooltip.svg") center no-repeat;
}
