.residence-add-help {
  position: relative;
  max-width: 760px;
  flex: 1 3 440px;
  padding: 14px 40px 24px 105px;
  color: $residence-help-text;
  background: $residence-help-bg url("../../img/icons/help.svg") 30px 30px / 50px 50px no-repeat;

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: $accent-blue;
  }
}
