.residence-add {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &--start {
    flex-direction: row;
    height: 100%;
    background: url("../../img/backgroud/residence.svg") 100% 90% / 50% auto no-repeat;
  }
}

.residence-add__bg-container {
  width: 100%;
  background: url("../../img/backgroud/residence.svg") 100% 95% / 50% auto no-repeat;
}

.residence-add__form-container {
  max-width: 912px;
  margin-right: 30px;
}

.residence-add__progress {
  list-style: none;
  margin: 0;
  padding: 0 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.residence-add__progress-item {
  position: relative;
  min-width: 180px;
  flex: 1 1 180px;
  margin-right: 2px;
  color: $residence-progress-item;
  font-size: $font-small;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    bottom: -15px;
    left: 0;
    right: 0;
    background-color: $residence-progress-item-bg;
  }

  &:first-child::after {
    border-top-left-radius: 5px;
  }

  &:last-child {
    margin-right: 0;

    &::after {
      border-top-right-radius: 5px;
    }
  }

  &--filled {
    color: $accent-green-residence;

    &::after {
      background-color: $accent-green-residence;
    }
  }
}

/*---- Контейнер для формы  ----*/
.residence-add__form {
  background-color: $white;
  border-top: none;
  @include block-outline;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*---- Помощь ----*/
.residence-add__help {
  position: relative;
  // z-index: 1;
  max-width: 760px;
  flex: 1 3 440px;
  padding: 14px 40px 24px 105px;
  color: $residence-help-text;
  background: $residence-help-bg url("../../img/icons/help.svg") 30px 30px / 50px 50px no-repeat;

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: $accent-blue;
  }
}

/*---- селект в подвале ----*/
.residence-add__select-residence {
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translateX(-50%);
  padding: 5px 15px;
  min-width: 405px;
  font-family: $font-family;
  font-size: $font-medium;
  color: $text-form-placeholder;
  background-color: $white;
  @include residence-input-outline;
}

/*---- Шахматка - в потоке ----*/
.residence-add__checkerboard {
  position: relative;
  // z-index: 1; //из-за картинки фоном
  margin-top: 70px;
  padding-bottom: 100px;
}
