//.residence-form-flat {}
.residence-form-flat__fieldset {
  margin: 0;
  padding: 30px 36px 36px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  column-gap: 30px;
  row-gap: 20px;
  border: none;

  &:nth-child(2n + 1) {
    background-color: $residence-fieldset-bg;
  }

  &:last-child {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 0;
    background-color: $white;
  }

  &:first-child > {

    :first-child {
      grid-column: span 7;
    }

    :nth-child(2) {
      grid-column: span 2;
    }

    :nth-child(3) {
      grid-column: span 4;
    }

    :nth-child(4) {
      grid-column: span 3;
    }
  }

  &:nth-child(2) > {
    :first-child {
      grid-column: span 6;
    }

    :nth-child(2) {
      grid-column: span 3;
    }

    :nth-child(3) {
      grid-column: span 3;
    }

    :nth-child(4) {
      grid-column: span 2;
    }

    :nth-child(5) {
      grid-column: span 2;
    }

    :nth-child(6) {
      grid-column: span 8;
    }
  }

  &:nth-child(3) > {
    :first-child {
      grid-column: span 5;
    }

    :nth-child(2) {
      grid-column: span 2;
    }

    :nth-child(3) {
      grid-column: span 3;
    }

    :nth-child(4) {
      grid-column: span 3;
    }

    :nth-child(5) {
      grid-column: span 3;
    }
  }
}

.residence-form-flat__input-btn-wrap {
  display: flex;
  align-items: center;
}

.residence-form-flat__label {
  @include residence-form-label;
  grid-column: span 4;

  &:last-child {
    margin-bottom: 0;
  }

  &--upload-area {
    grid-column: span 8;
    display: grid;
    grid-template-rows: min-content 1fr;
    margin-bottom: 0;
  }
}

.residence-form-flat__example {
  padding-left: 5px;
  font-weight: $font-weight-regular;
  color: $residence-label-example;
}

.residence-form-flat__label-upload-buttons {
  grid-column: 9 / 17;
  grid-row: 2 / 4;
}

.residence-form-flat__label-text {
  display: block;
  margin-bottom: 5px;
  padding-left: 5px;

  .residence-form-flat__input-grid-wrap > & {
    grid-column: 1 / -1;
  }
}

.residence-form-flat__required {
  color: $accent-red;
}

.residence-form-flat__input-grid-wrap {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 20px;
  align-items: flex-start;

  .residence-form-flat__input-btn {
    margin-left: 0;
    justify-self: flex-start;
  }
}

.residence-form-flat__input-btn {
  margin-left: 10px;
}

.residence-form-flat__input {
  @include residence-form-input;
  background-position: 90% 40%;
  background-size: 18px 24px;
  background-repeat: no-repeat;

  &--rub {
    background-size: 18px 20px;
    background-image: url("../../img/icons/rub.svg");
  }

  &--meter {
    background-image: url("../../img/icons/м2.svg");
  }

  &::placeholder {
    font-family: $font-family;
    color: $residence-placeholder;
  }
}

.residence-form-flat__explanation {
  grid-column: 1 / -1;
  margin: 5px 0 0;
  padding: 0 0 30px;
  font-size: $font-small;
  font-weight: $font-weight-regular;
  color: $residence-upload-text;
  line-height: 1.5;
  border-bottom: 1px solid $border-color;

  p {
    margin: 0;
    padding: 0;
  }

  b {
    font-weight: $font-weight-semibold;
  }
}

.residence-form-flat__description {
  grid-column: 1 / -1;
}

.residence-form-flat__btn-add {
  justify-self: flex-start;
  padding: 8px 14px;
  min-width: 90px;
  font-size: $font-small;
}

.residence-form-flat__btn-reset {
  @include btn-reset;
  min-width: 90px;
  justify-self: flex-end;
  font-size: $font-small;
}
