//.usercart {}

.usercart__heading-wrap {
  display: grid;
  grid-template-columns: 1fr 110px 150px 110px;
  gap: 25px;
  margin-bottom: 45px;
  padding: 16px 30px 16px 160px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
};

.usercart__inner-grid {
  display: grid;
  grid-template-columns: 113px 1fr 110px 150px 110px;
  gap: 25px;
}

.usercart__heading-item {
  line-height: 30px;
  color: $black;
}

.usercart__heading-item:first-child {
  margin-right: auto;
  margin-left: 0;
}

.usercart__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 15px;
}

.usercart__item {
  margin-bottom: 29px;
  background-color: #ffffff;
}

.usercart__item:last-child {
  margin-bottom: 0;
}

/*  Нижний раздел - оплата кешбеком  */

.usercart__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.usercart__cashback {
  padding: 20px 23px 20px 26px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
}

.usercart__cashback-title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.usercart__cashback-text {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.usercart__cashback-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.usercart__cashback-input {
  margin-left: 20px;
  padding: 9px;
  width: 100%;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}

.usercart__cashback-small-text{
  font-size: 12px;
  color: $text-small;
}

/* срок хранения */
.usercart__onhold {
  align-self: flex-start;
  justify-self: start;
  padding: 20px 40px 30px 25px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  background-color: #ffffff;
}

.usercart__onhold-title {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 600;
  color: $black;
}

.usercart__onhold-text {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 23px;
}

.usercart__onhold-input {
  padding: 9px;
  width: 126px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}

.usercart__onhold-calendar {
  position: absolute;
  top: 50%;
  right: 5px;
  fill: $black;
  transform: translateY(-50%);
}

/* Итоговая цена */

.usercart__total {
  align-self: flex-start;
  padding: 20px 25px 30px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
}

.usercart__total-title {
  margin: 0;
  padding-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #000000;

  &:first-child {
    padding-top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #efefef;
  }
}

.usercart__total-price {
  color: #626262;
  font-weight: 400;
  font-size: 16px;
}

.usercart__total-amount {
  color: #67ce00;
  font-weight: 600;
  font-size: 21px;
}
