@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin block-outline {
  border: 1px solid $border-color;
  border-radius: 10px;
}

@mixin residence-input-outline {
  border: 1px solid $residence-input-text;
  border-radius: 3px;
}

@mixin square($width) {
  width: $width;
  height: $width;
}

@mixin round($width) {
  width: $width;
  height: $width;
  border-radius: 50%;
}

@mixin border($color) {
  border: 1px solid $color;
}

@mixin btn-reset {
  justify-self: flex-end; // проверить
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  min-width: 190px;
  font-size: $font-regular;
  text-align: center;
  color: $residence-btn-reset;
  background-color: $residence-btn-bg;
  border: none;
  border-radius: 5px;
}

@mixin residence-form-label {
  display: block;
  margin: 0;
  width: auto;
  height: auto;
  font-size: $font-medium;
  font-weight: 600;
  color: $text-form;
}

@mixin form-input {
  display: block;
  padding: 8px 20px;
  width: 100%;
  font-family: $font-family;
  font-size: 14px;
  line-height: 1;
  color: $text-grey;
  border: 1px solid $text-chatbox-input;
  border-radius: 3px;
}

@mixin residence-form-input {
  display: block;
  padding: 8px 20px;
  width: 100%;
  font-family: $font-family;
  font-size: 14px;
  line-height: 1;
  color: $text-form-placeholder;
  @include residence-input-outline;
}

@mixin chat-go-back-btn {
  flex-shrink: 0;
  display: none;
  margin-right: 15px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: rgba($accent-blue, .3) url("../../img/icons/arrow-left.svg") center no-repeat;

  @media (max-width: $desktop) {
    display: flex;
  }
}
// @mixin link {
//   font-size: inherit;
//   color: $accent-blue;
// }
