$white: #ffffff;
$black: #000000;

$darkblue: #141517;
$regularblue: #2c2e3f;

$accent-green: #2BB81F; //
$accent-light-green: #67CE00; //price
$accent-blue: #556DE6; // interactive
$accent-red: #FF0000; //error, reset

$bg-main: #e5e5e5;
$bg-count: #e3ecef;

$border-color: #d8d8d8;
$border-light: #efefef;
$box-shadow: rgba(0, 0, 0, 0.1);

$text-grey: #545454;
$text-input-delivery: #5a5a5a;
$text-input-cashback: #dcdcdc;
$text-small: #afafaf;
$text-extra-light: #ababab;
$text-lighter: #cacaca;
$text-light: #cbcbcb;
$text-count: #687980;
$text-total-price: #626262;

// $font-regular: 16px;
// $font-counter: 10px;
// $font-title: 48px;

$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;
