$white: #ffffff;
$black: #000000;

$darkblue: #141517;
$regularblue: #2c2e3f;

$accent-green: #2BB81F; //
$accent-light-green: #67CE00; //price
$accent-blue: #556DE6; // interactive
$accent-red: #FF0000; //error, reset

$bg-main: #E5E5E5;
$bg-count: #E3ECEF;

$border-color: #D8D8D8;
$border-light: #EFEFEF;
$box-shadow: rgba(0, 0, 0, 0.1);

$text-grey: #545454;
$text-extra-light: #ABABAB;
$text-lighter: #CACACA;
$text-light: #CBCBCB;
$text-count: #687980;

$font-size: 16px;

$mobile: 576px; 
$tablet: 768px; 
$desktop: 1024px; 
