@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin block-outline {
  border: 1px solid $border-color;
  border-radius: 10px;
}

@mixin round($width) {
  width: $width;
  height: $width;
  border-radius: 50%;
}
